
body {
background-color:#F2F1F2;
font-family: 'Oswald', 'Arial', sans-serif;
min-height: 100%;
/* overflow: hidden; */
display: flex;
flex-direction: column;
box-sizing: border-box;

}

/* все что внутри этого div выравнивается по центру (а внутри все :)) */

.wrapper {
	/* display: flex; */
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	min-width: 200px;
 width: 100%;
	/* height: auto; */

}


/* все что внутри этого div выравнивается по центру */

header {
	position:sticky;
	top:0;
	z-index: 0;
	height: 72px;
	display: flex;
	align-items: center;
	justify-content: center;

	/* margin: 0 auto; */
	/* overflow: hidden; */
}


/* десигн панели навигации */

nav ul {
	display: flex;
	}

ul li {
	padding: 10px;
}
/* гамбургер */

/* .post {
	max-width: 800px;
	margin: 0 auto;
	margin-top: 15px;
	
} */

p {
padding: 15px;
text-align:justify;
word-wrap: break-word;
}


/* десигн панели навигации */

ul {
	display: flex;
	justify-content: center;
}

/* footer {
	height: 44px;
} */

 .cont {
	width: 500px;
	height: 500px;
	
}

.box {
	box-shadow: 0px 0px 3px gray;
	background-color:#FFFFFE;
}

.grid {
	margin: 1em auto ;
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	max-width: 980px;
	min-width: 320px;
	}


/* @media only screen and (max-width: 1023px) {
	
}
@media only screen and (max-width: 666px) {

	} */
