/* html, body {
	overscroll-behavior: none;
} */


body {
	background-color: #F2F1F2;
	font-family: 'Oswald', 'Arial', sans-serif;
	min-height: 100%;
	/* overflow: hidden; */
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

}

/* все что внутри этого div выравнивается по центру (а внутри все :)) */

.wrapper {
	/* display: flex; */
	justify-content: center;
	align-items: center;
	/* max-width: 1900px; */
	margin: 0 auto;
	min-width: 200px;
	width: 100%;
	/* height: auto; */
	
}


/* все что внутри этого div выравнивается по центру */

.MainHeader {
	position: sticky;
	top: 0;
	z-index: 1;
	height: 72px;
	display: flex;
	align-items: center;
	justify-content: center;

}

nav {
	z-index: 0;
}

.dark {
	background-color: #333333;
}



nav ul {
	display: flex;
}

ul li {
	padding: 10px;
}

/* гамбургер */

/* .post {
	max-width: 800px;
	margin: 0 auto;
	margin-top: 15px;
	
} */

.ArticleHeader {
	padding: 15px;
	/* padding-bottom: 0px; */
	display: flex;
	align-items: center;
	justify-content: center;	
}

.UpP {
	padding: 35px;
	padding-top: 0px;
	/* text-align:justify; */
	word-wrap: break-word;
}


/* десигн панели навигации */

ul {
	display: flex;
	justify-content: center;
}

/* footer {
	height: 44px;
} */

.cont {
	max-width: 800px;
	/* max-block-size: 500px; */
	margin: 15px auto;

}

.dark {
	box-shadow: 0px 0px 3px gray;
	background-color: #444444;
}



.box {
	box-shadow: 0px 0px 3px gray;
	background-color: #FFFFFE;
}

.grid {
	margin: 1em auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	max-width: 980px;
	min-width: 320px;
}

.GridItem {
	display: flex;
	justify-content: center;
	align-items: center;
}

.GridItem p {
	font-size: 50px;
}

/* @media only screen and (max-width: 1023px) {
	
}
@media only screen and (max-width: 666px) {

	} */

.read-more-state {
	display: none;
}

.read-more-target {
	opacity: 0;
	max-height: 0;
	font-size: 0;
	transition: .25s ease;
}

.read-more-state:checked~.read-more-wrap .read-more-target {
	opacity: 1;
	font-size: inherit;
	max-height: 999em;
}

.read-more-state~.read-more-trigger:before {
	content: 'Show more';
}

.read-more-state:checked~.read-more-trigger:before {
	content: 'Show less';
}

.read-more-trigger {
	cursor: pointer;
	display: inline-block;
	padding: 0 .5em;
	color: #666;
	font-size: .9em;
	line-height: 2;
	border: 1px solid #ddd;
	border-radius: .25em;
	margin-left: 35px;
	margin-bottom: 35px;
}


a {
	color: ivory;
	text-decoration: none;
}

a:hover {
	color: gray;
	transition: 0.5s;
	text-decoration: underline;
}

.grid {
	display: grid;
	grid-template-columns: minmax(3,1fr);
	grid-auto-rows: 300px;
	grid-gap: 0.5em;
	margin: 0 auto;
	margin-bottom: 35px;
	justify-content: center;

}
.hoverBox:hover{
	background-color: red;
	transition: 0.5s;
	transform: scale(1.05);
}

.blur{
-webkit-filter: blur(5px);
     -moz-filter: blur(5px);
       -o-filter: blur(5px);
      -ms-filter: blur(5px);
          filter: blur(5px);
}

.opasity {
	opacity: .95;
}